@import "tailwindcss";

:root {
  /* Primaire kleuren */
  --color-primary: #B4C9CA;
  --color-primary-accent: #DDFE71;

  /* Secundaire kleuren */
  --color-secondary: #B4C9CA;
  --color-secondary-accent: #B4C9CA;

  /* Donkere modus (optioneel) */
  --color-primary-dark: #2a3b3c;
  --color-primary-accent-dark: #b8e854;
  --color-secondary-dark: #2a3b3c;
  --color-secondary-accent-dark: #2a3b3c;
  
}

body {
  font-family: var(--font-comic-neue), sans-serif;
  color: var(--color-primary-dark);
  overflow-x: hidden;
  
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


h1, h2, h3 {
  font-family: var(--font-comic-neue), sans-serif;
}

h2 {
  font-weight: 700;
}

.clip-path {
  clip-path: path("M 0 0 Q 60 50, 120 0 L 100% 0 L 100% 100% L 0 100% Z");
}

p {
  font-family: var(--font-comic-neue), sans-serif;
}


